.header {
    display: grid;
    grid-template-columns: 1fr 148px 1fr;
    justify-content: space-between;
    align-items: center;
    margin: 92px 24px;
    padding-right: 59px;

}

.header__menu {
    display: flex;
    margin-left: 25px;
    
  }
  
  .header__links-list {
      display: flex;
      flex-direction: row;
      gap: 32px;
      color: #000000;
      font-size: 18px;
      font-weight: 400;
      letter-spacing: 0.01em;
  }

  .header__links-list-item_no-bullit {
    list-style: none;
  }

  .header__link_active {
    text-decoration: none;
}
  
  .header__links-list-item {
    list-style: circle;
    text-decoration: underline;
    text-underline-offset: 4px;
  }
  
.header__logo {
    position: relative;
    left: 37px;
}

.header__logo-image {
    width: 138px;
    height: 105px;
}

.address {
    max-width: 240px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    justify-self: right;
    font-style: normal;
    font-size: 18px;
    letter-spacing: 0.01em;
    text-align: left;
    line-height: 1.35;
}

.header__address {
    display: grid;
    grid-column: 1/4;
    grid-row: 1/4; 
}

.header__contacts {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.main {
}

.cover {
    padding-bottom: 179px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    width: 1100px;
    height: 752px; 
}

.overlay {
    background-color:rgb(0,0,0/1);
    z-index: 1;
    position: absolute;  
}
X
.lots {
    padding: 0 24px 146px;
}

.about {
    padding: 0 24px 180px;
}

.footer {
    padding: 0 50px 88px;
}